body{
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
table{
    font-weight: bold;
    font-size: 20px;
}